.rightbarProfileImgContainer {
  margin-right: 10px;
  position: relative;
}

.rightbarProfileImg {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.rightbarOnline {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: lime;
  position: absolute;
  top: -2px;
  border: 2px solid white;
  right: 0;
}

.rightbarUserName {
  font-weight: 500;
}

.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
